body {
    background-color: #eafaf1;
    font-family: 'Arial', sans-serif;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.card {
    border-radius: 15px;
}
.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}
.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
.text-primary {
    color: #28a745 !important;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}